<section data-ng-controller="ItemsController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>

			<div class="controls">
				<input type="text" data-ng-model="item.title" id="title" placeholder="Title" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Description</label>

			<div class="controls">
				<textarea data-ng-model="item.description" id="description" cols="30" rows="10" placeholder="Description">
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="brand">Brand</label>

			<div class="controls">
				<input type="text" data-ng-model="item.brand" id="brand" placeholder="Brand">
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="price">Price</label>

			<div class="controls">
				<input type="text" data-ng-model="item.price" id="price" placeholder="Price">
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="pictures">Pictures</label>

			<div class="controls">
				<input type="text" data-ng-model="item.pictures" id="pictures" placeholder="Pictures" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>